    /* polices d'écriture*/
@font-face {
font-family: 'fa-brands-400';
src: url('../assets/webfonts/fa-brands-400.eot') format('eot'),
     url('../assets/webfonts/fa-brands-400.woff') format('woff'),
     url('../assets/webfonts/fa-brands-400.woff2') format('woff2'),
     url('../assets/webfonts/fa-brands-400.ttf') format('ttf'),
     url('../assets/webfonts/fa-brands-400.svg') format('svg');
font-weight: normal;
font-style: normal;
}

.styleLogo{
    position: relative;
        width:100px;
        height:100px;
		padding-top:20%
}


/******styles*********/ 
body{
    font-family:"Roboto Slab", serif;
    background-image: url("../../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

/******HEADER*********/ 
#header{
	text-align: center;
	font-size: 100%;
}
    #header h1{
        position: relative;
        top: 2em;
        text-align: center;
        color: black;
		font-size: 200%;
    }
	#header ul.Menu {
		
		padding-top: 3%;
		cursor: default;
		list-style: none;
		text-align: center;
		font-weight: bold;
	}
		#header ul.Menu li {
			text-align: center;
			opacity: 0.70;
			background-color: black;
			border-radius:10px;
			position: relative;
			display: inline-block;
			padding: 0 1em 0 0;
		}
/******sideBar*********/ 
#sideBar{
	background-color:black;
	opacity: 0.63;
	border-radius:0px 10px 10px 0;
	position: absolute;
	color:white;
	padding-left:1%;
	padding-right: 1%;
	}
	#sideBar.sideBar {
		position: absolute;
			top: 5%;
			left:-230px;
		margin-right:-230px;
		width: 200px;
		transition: all .25s;
	}
		#sideBar.sideBar.collapsed {
			left: 0;
		}

	#sideBar input{
		opacity: 1;
		margin: 1em 1em 1em 1em;
		border: 3px solid #333;
		border-radius: 5px;
	}
	#sideBar #contact{
		opacity: 1;
		padding-top:100%;
	}
	#sideBar footer{
		opacity: 1;
		padding-top:20%;
	}
/******Style menus*********/ 
#sideBar, #header a{
	outline: none;
	text-decoration: none;
	padding: 2px 1px 0;
	color: white;
	
}
	#header a{
		outline: none;
		text-decoration: none;
		margin: 2px 1px 0;
		padding-left:10px;
	}
	#sideBar a:visited, a:link {
		font-weight: normal;
		color: white;
	}
	#sideBar,#header a:focus,a:hover,a:active {
		border-bottom: 3px solid;
		border-bottom-color: white;
		font-weight: bold;
	}	
/******Gestion Images*********/ 
.taille{
    width: 15px;
	height: 15px;
}
.MenuIcon{
		position:absolute;
			top:10%;
			left:100%;
		width:50px;
        height:50px;
}
.imageBox{
    border-radius:5px;
    width: 70%;
    height: 90%; 
}
.imageBox3{
    border-radius:5px;
    width: 24%;
    height: 90%; 
}
/******CONTENUE*********/ 
#contenue{
    background-color:white;
    position: relative;
        top: 14.1em;
	margin-bottom:11%;
	padding-bottom:5%;
        
}
	#contenue h1, h2 {
        position: static;
        text-align: center;
        font-family: "Courier New", serif;
        text-transform: capitalize;
		font-size :100%;
    }
    #contenue h2 {
        color:#646464;
    }
	#contenue h1 {
		padding-top:1em;
	}
	/******BOXS*********/ 
#box1, #box2, #box3{
	display: flex;
	text-align: center;
}
 #box3, #box2{
	margin-top:2%;
}
	#p1, #p2, #p3, #p21, #p22, #p23, #p31{
		flex: 1 1 auto;
	}


